<html ng-app="demo">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <style>

        .hideme {

            visibility: hidden;
        }
        .margin10 {

            margin-top: 10px;
        }

    </style>
    <title title>NgCrop Example</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../dist/unminified/ngcrop.js"></script>
    <script type="text/javascript">
        var app = angular.module('demo', ['ngcrop']);
        app
                .controller('ngcropDemoController', function ($scope) {
                    $scope.isReadyForCrop = false;
                    $scope.croppedImageDataUrl = undefined;
                    $scope.cropViewActivated = false;
                    $scope.origImgFile = undefined;


                    $scope.handleFileButtonClick = function (id) {

                        document.getElementById(id).click();

                    }

                    /**
                     * isValidFile - method to determine if a file is valid
                     * @param file
                     * @returns {boolean}
                     */
                    function isValidFile(file) {
                        if (!file || !file.size || !file.type) {
                            return false;
                        }
                        return true;
                    }

                    $scope.processChange = function (event) {

                        var file = event.currentTarget.files[0];

                        if (isValidFile(file)) {

                            $scope.$apply(
                            function () {

                                $scope.origImgFile = file;
                                $scope.isReadyForCrop = true;
                                $scope.cropViewActivated = true;

                            });

                        }


                    }

                    $scope.onCanvasImgProcess = function () {

                        $scope.cropViewActivated = true;

                    }

                    $scope.crop = function () {

                        $scope.isReadyForCrop = false;

                    }

                    $scope.revertCrop = function () {

                        $scope.isReadyForCrop = true;

                    }

                })
                .directive('customInput',
                function () {

                    return {

                        restrict: 'A'
                        , scope: {
                            onElemChange: '&'
                        }
                        , link: function (scope, elem, attrs) {

                            elem.on('change', function(evt){

                                scope.onElemChange({event:evt});

                            });

                            /**
                             * isValidFile - method to determine if a file is valid
                             * @param file
                             * @returns {boolean}
                             */
                            function isValidFile(file) {
                                if (!file || !file.size || !file.type) {
                                    return false;
                                }
                                return true;
                            }

                            /**
                             * Remove all DOM elements once destroyed
                             */
                            scope.$on('$destroy', function() {

                                //remove orientationchange event listener and destroy the cropCanvas
                                elem.off('change', onChange);

                            });
                        }

                    }


                });
    </script>
</head>
<body ng-controller="ngcropDemoController">
<div>
    <h2 style="text-align: center">Drag corners to expand and/or collapse or click and drag center to move entire
        square</h2>

    <div>
        <div style="text-align: center">
            <div data-ng-show="!cropViewActivated" class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
                <button
                        on-tap
                        class="btn btn-block"
                        data-ng-click="handleFileButtonClick('mainuploadfile');$event.stopPropagation();">
                    Upload a file
                </button>
            </div>
            <crop-image
                    data-ng-show="isReadyForCrop"
                    add-canvas-border="true"
                    max-img-display-length="300"
                    selector-color="#FF0000"
                    selector-line-width="2"
                    cropped-img-data="croppedImageDataUrl"
                    post-canvas-img-process-callback="onCanvasImgProcess(canvasInfo)"
                    orig-image-file="origImgFile">
                <crop-image>
                    <img data-ng-src="{{croppedImageDataUrl}}" data-ng-show="!isReadyForCrop && cropViewActivated"
                         height="200px" width="200px">

        </div>
        <div class="row" data-ng-show="cropViewActivated" style="margin-top: 20px"></div>
        <div class="row" data-ng-show="cropViewActivated">
            <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5" data-ng-show="isReadyForCrop">
                <button
                        on-tap
                        class="btn btn-deep-red btn-block"
                        data-ng-click="crop()">
                    Crop
                </button>
            </div>
            <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5" data-ng-show="!isReadyForCrop">
                <button
                        on-tap
                        class="btn btn-deep-red btn-block"
                        data-ng-click="revertCrop()">
                    Revert
                </button>
            </div>
            <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5 margin10">
                <button
                        on-tap
                        class="btn btn-block"
                        data-ng-click="handleFileButtonClick('mainuploadfile');$event.stopPropagation();">
                    Reupload a file
                </button>
            </div>
        </div>
        <input type="file" id="mainuploadfile" name="mainuploadfile" value="" class="hideme" accept="image/jpeg" custom-input
               on-elem-change="processChange(event)" capture="camera"/>
    </div>
</div>
</body>
</html>
